.container{margin-top: 20px;} 

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    border-top: 1px solid #efefef;
    background: #212529;
    color: #fff;
   
}

.t_right{text-align: right;}
